@charset "UTF-8";
/*Обнуление*/
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E5E5E5;
}

.fullscreen {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen__fon {
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(253, 251, 251, 0.76);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px 20px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu > li {
  margin-right: 75px;
}

.header__menu li a {
  font-size: 15px;
  color: #000;
  line-height: 20px;
}

.header__menu li a:hover {
  color: #3343E1;
  text-decoration: underline;
}

.header__menu li:last-child {
  margin: 0px;
}

.header__menu > li:hover .header__menu-sub {
  display: block;
}

.header__menu-sub {
  /*display: none;*/
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 47.8px;
  left: -25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__menu-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px 10px 25px;
}

.header__menu-sub li a:hover {
  text-decoration: none;
  width: 100%;
  color: #fff;
  background-color: #3343E1;
}

.header__menu-sub li:nth-child(0):hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__call-btn {
  background-color: #3343E1;
  padding: 10px 24px 10px 24px;
  color: #fff;
  font-size: 13px;
  border-radius: 20px;
}

.header__call-btn:hover {
  -webkit-box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
          box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
}

.fullscreen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen__bid {
  position: absolute;
  z-index: 2;
  top: 30%;
}

.fullscreen__bid-content {
  background-color: #E1F1FF;
  padding: 40px 140px;
  text-align: center;
  border-radius: 20px;
}

.fullscreen__bid-title {
  font-size: 20px;
}

.fullscreen__bid-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 12px 0;
}

.fullscreen__bid-input {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 0px;
  padding: 10px;
  width: 100%;
}

.fullscreen__bid-comments {
  font-size: 12px;
  text-align: left;
}

.fullscreen__bid-btn {
  padding: 10px 40px;
  background-color: #3343E1;
  border-radius: 30px;
  color: #fff;
  margin-top: 18px;
}

.fullscreen__bid-btn:hover {
  -webkit-box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
          box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
}

.tariffs {
  margin: 0 auto;
  padding-bottom: 50px;
}

.tariffs__title {
  text-align: center;
  margin: 30px;
}

.tariffs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tariffs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.tariffs__column-item {
  margin: 10px;
  padding: 18px 20px 25px 20px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.tariffs__column-item-subtitle {
  font-size: 20px;
  line-height: 27px;
  text-decoration: underline;
  margin-bottom: 22px;
}

.tariffs__column-item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.tariffs__column-item-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 0 15px;
}

.tariffs__column-item-row2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariffs__column-item-price {
  font-size: 34px;
  line-height: 46px;
}

.tariffs__column-item-span::before {
  content: 'руб';
}

.tariffs__column-item-span::after {
  content: 'мес';
}

.tariffs__column-item-btn {
  background: #3343E1;
  border-radius: 20px;
  color: #fff;
  padding: 10px 25px;
}

.tariffs__column-item-btn:hover {
  -webkit-box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
          box-shadow: 0px 5px 76px -5px rgba(51, 67, 225, 0.45);
}

.item__logo1 {
  margin-bottom: 20px;
}
