.btn {
	background: #3343E1;
	border-radius: 20px;
	color: #fff;
}
.title {
	font-size: 20px;
	line-height: 27px;
}

/*валидация*/
.valid {
   border: 1px solid green;
}

.novalid {
   border: 1px solid red;
}
