/*Обнуление*/
body {
   height: 100%;
}
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body {
	min-height: 100vh;	
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	position: relative;
	background: #E5E5E5;
}

.header {
	background: url(/img/fon.png) no-repeat center;
	background-size: cover;
	min-height: 100vh;	
	&:before {
		display: none;
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
	}	

	&__top {		
		height: 60px;
		background-color: #ffffffb7;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: calc(50vh - 255px);
	}

	

	&__logo {
		display: flex;
		align-items: center;
	}

	&__logo-img {
	}

	&__logo-h1 {
		padding-left: 10px;
		font-size: 20px;
		font-weight: 700;
	}

	&__menu {
		&-list {	
			width: 500px;
			margin: 0px 30px;
			display: flex;
			justify-content: space-between;
		}			
	}

	&__menu-btn {		
	}	

	&__menu-btn a {
		font-size: 15px;
		line-height: 20px;
		color: #000;	
	}

	&__menu-btn a:hover {
		color: #3343E1;
	}

	&__menu-sublist {
		position: absolute;
		top: 60px;
		width: 200px;		
		background: #fff;				
		background-color: #fff;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	&__menu-subitem {
		padding: 8px 30px;		
	}	

	&__menu-subitem:hover {
		background-color: #3343E1;		
	}
	&__menu-subitem:hover:last-child {
		background-color: #3343E1;	
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;	
	}
	
	
	&__menu-subitem a:hover {		
		color: #fff;				
	}

	&__call-btn {
		font-size: 13px;
		line-height: 18px;
		padding: 11px 40px;		
	}

	&__call-media {
		display: none;	
	}

	&__bid {			
		display: flex;		
		flex-direction: column;				
		margin: 0 auto;
		align-items: center;		
		background: #E1F1FF;
		border-radius: 20px;
		max-width: 750px;
	}
	

	&__bid-title {
		margin: 40px 0 30px 0;
	}

	&__bid-form {
		text-align: center;
		width: 470px;		
	}

	&__bid-radio {	
		display: flex;	
		justify-content: space-between;
		margin-bottom: 23px;
		
	}
	&__bid-radio-sort {
		display: flex;
		margin: 0 45px;
	}

	&__bid-radio-text {
		line-height: 16px;
	}

	&__bid-radio-el {
		margin-right: 10px;
	}

	&__bid-input {
		display: flex;
		flex-direction: column;			
	}

	&__bid-input-item {			
		margin: 9px 0px;
		font-size: 14px;
		line-height: 16px;
		color: #C4C4C4;
		border-radius: 15px;
		padding: 7px 0px 7px 10px;
	}

	&__bid-input-surely {
		font-size: 12px;
		line-height: 14px;
		margin: 3px 0 15px 0px;
	}

	&__bid-btn {
		margin-bottom: 45px;
		padding: 11px 40px;
	}

	&__bg {		
		background-image: url(/img/fon.png) no-repeat center center fixed;		
	}
}
/*==========media=================*/
/*menu width*/
@media (max-width: 912px) {
	.header {
		&__bid {
			max-width: 550px;
		}
	}	
}

/*bid width*/
@media (max-width: 912px) {
	.header {
		&__menu {
			&-list {	
				width: 400px;
				margin: 0px 30px;
				display: flex;
				justify-content: space-between;
			}			
		}		
	}
}

@media (max-width: 780px) {
	.header {
		&__call-btn {
			display: none;
		}
		&__call-media {
			display: block;
		}
	}
}

@media (max-width: 730px) {
	.header {
		&__menu {
			display: none;
		}
		&__burger {
			display: block;
			position: relative;
			width: 40px;
			height: 30px;
			z-index: 3;
			& span {
				background-color: #000;
				width: 100%;
				height: 2px;
				left: 0;
				top: 15px;
				position: absolute;
				/*Анимация для плавности палочек*/
				transition: all 0.3s ease 0s;
			}
		}
		&__burger:before,
      &__burger:after {
         content: '';
         background-color: #000;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         /*Анимация для плавности палочек*/
         transition: all 0.3s ease 0s;
      }
		&__burger:before {
         top: 0;
      }
		&__burger:after {
         bottom: 0;
      }
		&__burger.active::before {
         transform: rotate(45deg);
         top: 9px;
      }
      /*Делаем крестик за счет вращения+перемещаем в нужное место за счет топ*//
      &__burger.active::after{
         transform: rotate(-45deg);
         top: 9px;
      }
      /*Убираем среднюю полоску*/
      &__burger.active span {
         transform: scale(0);
      }
	}
}
/*================================*/
.tariffs {
	background: #E5E5E5;
	text-align: center;
	margin: 0 250px;
	padding-bottom: 55px;
	

	&__title {
		margin: 20px 0;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		background-color: #fff;
		border-radius: 20px;
		width: 32%;
		margin-right: 1%;
		margin-bottom: 20px;
	}
		

	&__item-subtitle {
		padding: 19px 0 22px 0;
	}

	&__column-item-row {
		display: flex;
		justify-content: center;
		margin: 0 -15px;
	}

	&__column-item-column {
		padding: 0 15px;
	}
	
	&__column-item-row2 {
		display: flex;		
		align-items: center;		
		justify-content: center;
		margin-bottom: 27px;
	}

	&__column-item-price {
		font-size: 34px;
		line-height: 46px;
	}

	&__column-item-span {
		display: block;
				
	}
	&__column-item-span hr {
		align: center;
		width: 20px;
		color: #000;
		
	}
	&__column-item-span::before {
		content: "руб";
	}
	&__column-item-span::after {
		content: "мес";
	}

	&__column-item-btn {		
		padding: 11px 20px;
		
		margin-left: 15px;
	}
}

.item {

	&__logo1 img {
		width: 100%;
	}

	&__content {
		padding: 10px 0 15px 0;
	}	
}
/*==========media=================*/
/*Карточки в разделе тарифы*/
@media (max-width: 1220px) {
	.tariffs {
		&__title {
			
		}
		&__row {
			justify-content: center;
		}
		&__item {
			width: 235px;			
			flex-wrap: wrap;
			padding: 0px 20px;
		}
	}	
}



/*================================*/
.btn {
	background: #3343E1;
	border-radius: 20px;
	color: #fff;
}
.title {
	font-size: 20px;
	line-height: 27px;
}
